/* Основной фон */
.video-background1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -2; /* чтобы было позади второго слоя */
}

/* Второе видео — например, в правом верхнем углу */
.video-overlay {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 300px; /* или любой размер */
    height: auto;
    z-index: 1; /* поверх основного фона */
}

    .video-background1 video,
    .video-overlay video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }